
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
    font-family: var(--bs-body-font-family);
}

html {
    font-size: 24px;
}

.bold {
    font-weight: bold;
}
.half {
    font-size: 0.5rem;
}
.one {
    font-size: 1rem;
}
.two {
    font-size: 2rem;
}
.three {
    font-size: 3rem;
}
@media (min-width: 600px) {
    .container-fluid.responsive {
        padding-right: 3rem;
        padding-left: 3rem;
    }
    .sign-form-wrap {
        width: 60%;
    }
}
@media (max-width: 600px) {
    html {
        font-size: 16px;
    }
    .sign-form-wrap {
        width: 80%;
    }
}

.offcanvas.offcanvas-end.text-bg-dark {
    width: 17rem;
}

.btn-min-width {
    min-width: 35%;
}

.cover-fixed-nav-section {
    width: 100%;
    height: 3.5rem;
}

.sign-form-wrap {
    margin-top: 5rem;
    border: 0.05rem solid black;
    border-radius: 1rem;
}

.sign-form {
    margin: 3rem;
}

.profil-form-wrap {
    margin-top: 5rem;
    border: 0.05rem solid black;
    border-radius: 1rem;
}

.profil-form-wrap-margin {
    margin: 3rem;
}